.create-comment>.form>textarea {
    resize: none;
    width: 400px;
    height: 100px;
    margin-top: 25px;
    margin-bottom: 28px;
    padding: 5px;
}

.details-comments {
    display: table-cell;
}

.create-comment {
    margin-top: 60px;
    position: relative;
    text-align: center;
    width: 700px;
    height: auto;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    background: #bebcc3;
    box-shadow: 0px 0px 32px 0px #232628, -10px -14px 40px #191c21;
}

.info-section>.details-comments li {
    width: 400px;
    display: inline-block;
    position: static;
    margin: 20px auto 25px auto;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 60px;
    background: #b5b1c0;
    color: white;
}

.comment p {
    padding: 16px;
}


.create-comment>.button:hover {
    background-color: #41425c;
    color: white;
    cursor: pointer;
}

.post-button{
    width: 100px;
    height: 40px;
    text-align: center;
}